@import url('./norm.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&family=Roboto+Slab:wght@100;400;700;900&display=swap');

:root {
	--black: #24292d;
	--black-dimmer: #2b3137;
	--gray: #58606a;
	--light-gray: #949da7;
	--lighter-gray: #b4bdc8;
	--border-gray: #e7e9ea;
	--back-gray: #f6f8fa;
	--white: #ffffff;
	--red: #db2c00;
	--green: #2da44e;
	--blue: #0d74e7;
	--blue2: #0969da;
	--purple: #6e5494;
}

.root {
	min-height: 100vh;
	background-color: var(--back-gray);
}

.nav {
  height: 3rem;
  width: 100%;
  background-color: var(--black);
  display: grid;
  grid-template-columns: auto 1fr auto;  
  column-gap: 1rem;
}

.nav__logo {
  font-family: 'Roboto Slab';
  line-height: 3rem;
  text-align: center;
  margin: 0 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  user-select: none;
}

.btns {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav .btn {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  line-height: 3rem;
  padding: 0 1rem;
  user-select: none;
  color: var(--white);
  justify-self: start;
}

.nav__cart {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  justify-self: end;
  text-align: center;
  color: var(--white);
  border-radius: 50%;
}

.nav__cart:hover {
  background-color: var(--light-gray);
}

.cart__icon {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 2rem;
}

.cart__count {
  position: absolute;
  left: 1.5rem;
  top: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--red);
  color: var(--white);
  font-size: .75rem;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
  display: grid;
  align-items: center;
  justify-items: center;
}

.nav .btn:hover {
  opacity: .8;
}

.btn-decrement.disabled {
  pointer-events: none;
  opacity: .4;
}

.counter__count {
  margin: 0 .5rem;
}

.home {
  width: 100%;
  height: calc(100vh - 3rem);
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: center;
  justify-content: center;
  column-gap: 3rem;
}

.home__label,
.home__label-third {
  display: grid;
  justify-items: end;
}

.home__label-first {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.home__label-second {
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  font-weight: 100;
  margin: .5rem 0;
}

.home__label-third {
  font-family: "Roboto Mono", monospace;
  font-size: 1.25rem;
}

.home__logo {
  height: 10rem;
  width: 10rem;
  background-color: var(--black);
  color: var(--white);
  font-family: "Roboto Slab", serif;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.home__logo-card:hover {
  opacity: .9;
  transform: rotate(45deg);
  transition: transform .5s ease-out;
}

.MuiCard-root.home__logo-card {
  border-radius: 0 !important;
}

.home__logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__logo:hover .home__logo-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: transform .5s ease-out;
}


.shopping {
  padding: 2rem;
}

.product {
  height: 34rem;
  min-width: 22rem;
  display: grid;
  grid-template-rows: 14rem 11rem 6rem 3rem;
}

.product__image {
  padding: 0 1rem;
  display: grid;
  grid-template: 100% / 100%;
  place-items: center;
}

.product__image > img {
  max-width:100%;
  max-height:100%;
}

.product__info {
  display: grid;
  grid-template-rows: auto auto; /* only show 4 lines, must be 4.6 */
  align-content: start;
  row-gap: .5rem;
}

.product__title {
  max-height: 4rem;
  overflow: scroll;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 700;
}

.product__description {
  /* display: -webkit-box;
  max-width: inherit;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; */
  max-height: 4.5rem;
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
  font-size: .8rem;
  color: var(--light-gray);
}

.product__purchase {
  user-select: none;
  display: grid;
  grid-template-columns: auto auto;
  align-items: end;
  justify-content: space-between;
}

.product__price {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  font-weight: 100;
}

.product__quantity {
  font-family: 'Roboto' sans-serif;
  font-size: .5rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.product__counter {
  margin-right: 1rem;
}

.product__counter .btn {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: 700;
}

.product__counter .counter__count {
  font-family: 'Roboto Mono', monospace;
}

.MuiButton-root.btn-increment,
.MuiButton-root.btn-decrement {
  min-width: 3rem;
}

.product__add {
  user-select: none;
}

.product__add-textcontainer {
  width: 100%;
  display: grid;
  justify-content: center;
}

.product__add-text {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 700;
}

.product__add.disabled {
  pointer-events: none;
  opacity: .4;
}

.cart {
  padding: 2rem;
}

.cartPaper {
  max-width: 75rem;
  min-width: 36rem;
}

.cart__empty {
  margin: 2rem 0;
  padding: 1rem;
  width: 100%;
  font-weight: 700;
  display: grid;
  justify-items: center;
}

.cart__header,
.cartItem {
  padding: .5rem 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 4rem 1fr 10rem 8rem 2rem;
  column-gap: 1.25rem;
  border-bottom: 1px solid var(--border-gray);
}

.cart__header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.cart__header-price {
  justify-self: end;
}

.cartItem__image {
  width: 4rem;
  height: 4rem;
  display: grid;
  grid-template: 100% / 100%;
  align-items: center;
  justify-items: center;
}

.cartItem__image > img {
  max-width: 100%;
  max-height: 100%;
}

.cartItem__title {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  justify-self: start;
  max-height: 4.2rem;
  overflow: scroll;
}

.cartItem__price {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  justify-self: end;
}

.cartItem__counter {
  justify-self: start;
}

.cartItem__quantity {
  font-family: 'Roboto' sans-serif;
  font-size: .75rem;
  font-weight: 100;
  align-self: end;
}

.cartItem__counter .btn-increment,
.cartItem__counter .btn-decrement {
  font-family: 'Poppins' sans-serif;
  font-size: .75rem;
  font-weight: 700;
  align-self: start;
}

.cartItem__counter > .counter__count {
  font-family: 'Roboto Mono', monospace;
}

.cartItem__remove {
  color: transparent;  
}

.cartItem:hover .cartItem__remove {
  cursor: pointer;
  color: var(--red);
}

.totalPrice {
  max-width: 75rem;
  min-width: 36rem;
  padding: 1rem;
  text-align: end;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--border-gray);
}

.MuiPaper-root.totalPrice {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.MuiButton-root.totalPrice__clear {
  font-size: .75rem;
  font-weight: 700;
}

.totalPrice__title {
  font-family: "Poppins", serif;
  font-size: 1.5rem;
  font-weight: 100;
  margin-right: 1rem;
}

.totalPrice__price {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  font-weight: 700;
}



