@import url('./norm.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&family=Roboto+Slab:wght@100;400;700;900&display=swap');

:root {
	--black: #24292d;
	--black-dimmer: #2b3137;
	--gray: #58606a;
	--light-gray: #949da7;
	--lighter-gray: #b4bdc8;
	--border-gray: #e7e9ea;
	--back-gray: #f6f8fa;
	--white: #ffffff;
	--red: #db2c00;
	--green: #2da44e;
	--blue: #0d74e7;
	--blue2: #0969da;
	--purple: #6e5494;
}

.root {
	min-height: 100vh;
	background-color: var(--back-gray);
}

.home .title {
  margin: 2rem 0;
}

.shopping .title {
  margin: 2rem 0;
}

.btn__container {
  display: inline-block;
}

.btn {
  padding: .5rem 1rem;
  border: 1px solid black;
  user-select: none;
}

.btn-decrement.disabled {
  pointer-events: none;
  opacity: .4;
}

.counter__count {
  margin: 0 .5rem;
}

.product {
  height: 34rem;
  min-width: 22rem;
  display: grid;
  grid-template-rows: 14rem 11rem 6rem 3rem;
}

.product__image {
  padding: 0 1rem;
  display: grid;
  grid-template: 100% / 100%;
  place-items: center;
}

.product__image > img {
  max-width:100%;
  max-height:100%;
}

.product__info {
  display: grid;
  grid-template-rows: auto auto; /* only show 4 lines, must be 4.6 */
  align-content: start;
  row-gap: .5rem;
}

.product__title {
  max-height: 4rem;
  overflow: scroll;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 700;
}

.product__description {
  /* display: -webkit-box;
  max-width: inherit;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; */
  max-height: 4.5rem;
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
  font-size: .8rem;
  color: var(--light-gray);
}

.product__purchase {
  user-select: none;
  display: grid;
  grid-template-columns: auto auto;
  align-items: end;
  justify-content: space-between;
}

.product__price {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  font-weight: 100;
}

.product__quantity {
  font-family: 'Roboto' sans-serif;
  font-size: .5rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.product__counter {
  margin-right: 1rem;
}

.product__counter .btn {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: 700;
}

.product__counter .counter__count {
  font-family: 'Roboto Mono', monospace;
}

.MuiButton-root.btn-increment,
.MuiButton-root.btn-decrement {
  min-width: 3rem;
}

.product__add {
  user-select: none;
}

.product__add-textcontainer {
  width: 100%;
  display: grid;
  justify-content: center;
}

.product__add-text {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 700;
}

.product__add.disabled {
  pointer-events: none;
  opacity: .4;
}

.cartItem__container {
  max-width: 75rem;
  min-width: 36rem;
}

.cartItem {
  width: 100%;
  margin: 1rem 0;
  padding: .5rem 0;
  padding-right: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 6rem 1fr 10rem 10rem ;
  column-gap: 1.25rem;
}

.cartItem__image {
  width: 6rem;
  height: 6rem;
}

.cartItem__image > img {
  max-width: 100%;
  max-height: 100%;
}

.cartItem__title {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  justify-self: start;
  max-height: 4.2rem;
  overflow: scroll;
}

.cartItem__price {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  font-weight: 100;
  justify-self: end;
}

.cartItem__counter {
  justify-self: start;
  display: grid;
  grid-template-rows: 1rem 2rem;
  grid-gap: .5rem;
}

.cartItem__quantity {
  font-family: 'Roboto' sans-serif;
  font-size: .75rem;
  font-weight: 700;
  align-self: end;
  /* margin-bottom: .5rem; */
}

.cartItem__counter .counter__count {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.25rem;
}

.cartItem__counter .btn-increment,
.cartItem__counter .btn-decrement {
  font-family: 'Poppins' sans-serif;
  font-size: 1rem;
  font-weight: 700;
  align-self: start;
}

.cartItem__counter > .counter__count {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.25rem;
}

.totalPrice {
  max-width: 75rem;
  min-width: 36rem;
  margin: 1rem 0;
  padding: 1rem 0;
  padding-right: 1rem;
  text-align: end;
}

.totalPrice__title {
  font-family: "Poppins", serif;
  font-size: 2rem;
  font-weight: 100;
}

.totalPrice__price {
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  font-weight: 700;
}


